#titulo {
    color: tomato;
}

p.especial {
    color: mediumseagreen;
}

p.texto {
    color: slateblue;
}

div p {
    color: aquamarine;
}

div h2, div h3 {
    color: brown;
}

* {
    font-size: 24px /*comentario*/
    
}

/*Esto es un comentario*/
/*
.color {
    color: #ff0000;
    .color {
    color: rgb(0, 255, 255);
}
*/
.color {
    /* border: 5px red  inset; */
    /*
    dotted
    dashed
    solid
    double
    none
    hidden

    para 3d
    groove
    ridge
    inset
    outset
    */
    border-style:solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 1rem;
}
