#titulo {
    color: tomato;
}

p.especial {
    color: mediumseagreen;
}

p.texto {
    color: slateblue;
}

div p {
    color: aquamarine;
}

div h2, div h3 {
    color: brown;
}

* {
    font-size: 24px /*comentario*/
    
}

/*Esto es un comentario*/
/*
.color {
    color: #ff0000;
    .color {
    color: rgb(0, 255, 255);
}
*/
.color {
    /* border: 5px red  inset; */
    /*
    dotted
    dashed
    solid
    double
    none
    hidden

    para 3d
    groove
    ridge
    inset
    outset
    */
    color: blue;
    border-style:solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 1rem;
    /* medidas
    px - cm - mm - in (pulgadas) - pt - pc -relativas - em - rem - 
    */
}

#fondo {
    color: aliceblue;
    background-color: rgba(255,0,0);
   /* opacity: 0.3; */
    height: 300px;
    background-image: url("https://media.tycsports.com/files/2023/02/10/532928/lionel-messi_1440x810_wmk.webp");
    background: #f00 url("https://media.tycsports.com/files/2023/02/10/532928/lionel-messi_1440x810_wmk.webp") repeat-y center bottom / 100px 100px;
   background-size: 200px 200px;
}

.margen {
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}

.text {
    font-family: "roboto ,";
    text-align: center;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue ;
}
a:link {
    color: blueviolet;
}

a:visited {
    color:gray
}

a:hover {
    color: yellow;
}

a:active {
    color: red
}